
*{
    margin: 0;
    padding: 0;
 }

 /*Variables*/

 :root{
    --color-primario: #3a4754;
    --color-secundario: #ffbf00;

 }

body{
  overflow-x: hidden;
  position: relative;
  box-sizing: border-box;
  padding-top: 5%;
  
}
/*ENCABEZADO*/

header {
<<<<<<< Updated upstream
  background-color: var(--color-secundario);
  height: 86px;
=======
  background-color: #ffbf00;
  height: 93px;
>>>>>>> Stashed changes
  width: 100%;
  position: fixed;
  top: 0;
  font-family: 'Playfair Display', serif;
  z-index: 3;
}

<<<<<<< Updated upstream
img.logo{
  display: flex;
  position: relative;
  bottom: 5%;
  width: 15%;
  padding: 1%
=======
/*logo*/
img.logotms{
  position: absolute;
  width: 13%;
  margin-left: 30px;
>>>>>>> Stashed changes
}

 nav{
<<<<<<< Updated upstream
    display: flex;
    justify-content: center;
    height: 60px;
    background-color:var(--color-primario);
    
    
    
  }
 
=======
    height: 80px;
     
  }
 
 button.navbar-toggler{
  display:none;
 }

  
>>>>>>> Stashed changes
nav ul{
  position: absolute;
   list-style: none;
   display: flex;
<<<<<<< Updated upstream
   left: 500px;
   justify-content: center;
   font-style: italic;
   margin-top: 0%;
    
}

nav ul li a {
    display: absolute;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    font-size: 18px;
    padding: 15px;
}   
=======
   flex-direction: row;
   justify-content:center;
   padding:15px;
 
}

nav ul li a {
  position: 
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
    padding: 18px;
    font-style: italic;  
}
>>>>>>> Stashed changes

/*menu*/
nav ul li a:hover{
  background-color: var(--color-secundario) 
}

/*PORTADA*/
img.portada_1{
  padding-top: 1%;

}
.redes-sociales {
  position: relative;
  margin-inline: 40px;
  justify-content: space-around;
  text-decoration: none;
  text-align: end;
  top: -30%;

  
  
}

.fa-brands{
  padding: 6px;

}

.redes-sociales a:hover {
  background-color: var(--color-secundario)
}

button.navbar-toggler{
position: absolute;
font-size: 30px;
background-color: #f2f2f2;
margin-left: 1%;
padding: 8px 7px 8px 7px;
}



button{
  background-color: var(--color-secundario)
}

img.portadamovil{
  display: none;
}

i.fa-solid{
  display: none;
}
/*PIE DE PAGINA o FOOTER */

footer {
  position: fixed;
  background-color: var(--color-secundario);
  width: 100%;
  height: 10%;
  bottom: 0;
  left: 0;


}

p.footer_estrategias{
  text-align: center;
}

footer p {
  text-align: center;
}
/* PAGINA CONTACTO */ 
  
.contenedor_contacto {
  flex-direction: column;
  width: 50%;
  margin: 0;
  margin-top: 6%;
  padding-left: 25%;
}

h2.contactanos{
  position: absolute;
 text-align: center;
 padding: 12px;
}

h1{
  text-align: center;
  font-size: 50%;
}
 div.formulario{
  position: relative;
  width: 100%;
  margin-top: 50%;
  z-index: 0;
 }

.formulario {
  background-color: var(--color-secundario);
  padding: 10%;
  font-size:18px;
  padding-bottom: 16%;
  width: 500%;
  
}

.formulario h3 {
  margin-top: 0;
  
}

.formulario label {
  margin-bottom: 10px;
}

.formulario input[type="text"],
.formulario input[type="tel"] {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  box-sizing: border-box; 
}

.formulario input[type="submit"] {
  background-color: var(--color-primario);
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  width: 100%;
  align-content: center;
  color: white;
}

.formulario input[type="submit"]:hover {
  background-color: var(--color-primario)
}

#asunto{
  height: 50px;
}

.form_contacto{
  display: flex;
  flex-direction: column;
  width: 100%;

}

.contenedor_contacto{
  display: flex;
  flex-direction: row;
  margin: 80;
  margin-top: 6%;
  z-index: 0;
  
  
}

div.mapa{
  position: absolute;
  width: 50%;
  height: auto;
}
/* PAGINA EQUIPO */ 

.contenedor_equipo {
  display: flex;
  justify-content: space-around;
}

.caja {
  margin-top: 6px;
  width: 300px;
  padding: 30px;
  background-color: var(--color-secundario);
  text-align: center;
  margin-bottom: 25px;
}

p.quienes_somos{
margin: 5%;
margin-top: 8%;
text-align: justify;
font-family: 'Times New Roman', Times, serif;
font-size: 20px;
}

.fotoaboga2{
  width: 50%;
}

p.especialidades{
  font-size: 24px;
}

.caja ul li{
  font-size: 18px;
  margin: 10px;
  text-align: left;
}

h1.nequipo{
position: relative;
font-family: 'Playfair Display', serif;
text-align: center;
margin-top: 75px;

}
 
  
  /*SERVICIOS con GRIDS*/
  .contenedor_servicios {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 2fr 2fr 2fr;
    margin-top: 10%;
    margin-left: 20%;
    margin-right: 20%;
    gap: 20px;
  }
  
  .servicio {
    padding: 13%;
    background-color: #f2f2f2;
    text-align: center;
  }

  /*BLOG*/

  .contenedor_blog {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 8%;
    padding: 20px;
  }
  
  .entrada {
    margin-bottom: 30px;
  }
  
  .entrada h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .entrada p {
    font-size: 14px;
    margin-bottom: 5px;
  }
  

  /*MEDIA QUERIES MOVILES*/

<<<<<<< Updated upstream
   @media (max-width: 360px) and (max-width: 823px){
=======
   /*portada*/

   
   @media (max-width: 380px) and (max-width: 768px){
>>>>>>> Stashed changes
    
    img.portada_1{
    display: none;
    }

    /*Portada*/

   img.portadamovil{
    display: flex;
<<<<<<< Updated upstream
    width: 100%;
    height: auto;
  
   }
   img.logo{
   position: absolute;
   left: 50%;
   top: 25%;
   padding: 0;
   width: 12%;
  
  }

  nav.navbar{
    display: flex;
    height: 80px;
  }
  

  div.container-fluid{
    padding: 0;
    display: flex;
    bottom: 0;
=======
   }
   /*logo*/
  
img.logotms{
    position: absolute;
    width: 50%;
    margin-left: 30px;
>>>>>>> Stashed changes
  }

/*footer*/
    footer{
      position: fixed;
      width: 100%;
      height: 20px;
    }

<<<<<<< Updated upstream
    p.footer_estrategias{
      margin-top: 15%;
      font-size: 20px;
      padding: 2%;
=======

    p.footer_estrategias{
      margin-top: 3%;
      font-size: 20%;
      
>>>>>>> Stashed changes
    }

   
    
/*header*/
<<<<<<< Updated upstream
   
    nav.navbar{
      height: 10%;
      
    }

    header nav{
    position: fixed;
    width: 100%;
    top: 0px;
    
    }

=======
nav.navbar-light{

}
>>>>>>> Stashed changes
    
    
   /*menu tradicional*/
   
      
    


  /*icono redes sociales */

       i.fa-solid{
        position: relative;
        display: flex;
        padding-left: 70%;
        margin: 10%;
        font-size: 70px;
        margin-top: 50%;
    }

    /*Redes Sociales*/
    
    .redes-sociales{
      margin-top: 90%;
      
      
    }
   
    button.navbar{
      position: relative;
      height: 5px;
    }
    
/* Equipo */



.quienesomos{
  position: relative;
  margin: 20px;
  text-align: justify;
  font-size: 30px;
 }

   p.quienes_somos{
    padding-top: 22px;
    font-size: 22px;
    margin: 9%;
   }

   .contenedor_equipo{
    display: flex;
    flex-direction: column;
   }

   h2.aboga2{
    font-size: 33px;
   }

.caja ul li{
font-size: 20px;
text-align: start;
margin: 20px;
}
  
p.especialidades{
  font-size: 30px;
  margin: 20px;
}

.caja{
  width: 95%;
  
}

.fotoaboga2{
  width: 60%;
}
  }


/*MEDIA QUERIES TABLET*/
<<<<<<< Updated upstream
@media (min-width: 393px) and (max-width: 823px) {
=======
@media (min-width: 390px) and (max-width: 823px) {
>>>>>>> Stashed changes
 
  .portada_1{
    display: none;
  }

 /*Portada*/

 img.portadamovil{
  display: flex
  
 }

/*footer*/
  footer{
    position: fixed;
    width: 100%;
    height: 20px;

    height: 12%;
  }

  footer p{
    margin-top: 3%;
    font-size: 15px;
    font-weight: 500;
    padding: 2%;
    height: 80px;
  }
/*header*/

  header nav{
  position: fixed;
  width: 200%;
  top: 0;
  }

header{
  height: 88px;
}

 /*menu tradicional*/
  

  
  


/*icono redes sociales */

     i.fa-solid{
    position: absolute;
    display: flex;
    padding-left: 70%;
    padding-bottom: 20%;
    margin: 10%;
    font-size: 50px;
  }

  /*Redes Sociales*/
  div.redes-sociales{
    margin-top: 130%;
    text-align: center;
    
  }

 
/* Equipo */

.quienesomos{
position: relative;
margin: 20px;
text-align: justify;
font-size: 30px;

}

 p.quienes_somos{
  padding-top: 22px;
  font-size: 22px;
  margin: 9%;
 }

 .contenedor_equipo{
  display: flex;
  flex-direction: column;
 }

 h2.aboga2{
  font-size: 33px;
 }
.caja ul li{
font-size: 26px;
text-align: start;
margin: 20px;
}

p.especialidades{
font-size: 30px;
margin: 20px;
}

.caja{
width: 95%;
}

.fotoaboga2{
width: 60%;
}
